body, .list-group-item {
    color: #006cff !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #003cb4;
}

a {
    color: #003cb4 !important;
    text-decoration: none !important;
}

a:active {
    color: #006cff !important;
}

.breadcrumb-item.active {
    color: #006cff !important;
}

.breadcrumb-item a {
    text-decoration: none;
}

#main-navbar li a {
    font-weight: bold;
}

.row.subject-article-references-container {
    margin-top: 5rem;
}

.subject-title {
    margin-bottom: 3rem;
}

.subject-toc-list {
    margin-top: 1rem;
}

.subject-article-cover-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-input-container {
    margin-bottom: 3rem;
}

.search-input, .search-input::placeholder {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #003cb4;
    color: #003cb4;
    font-weight: bold;
    font-size: 2rem;
}
