﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<UmbracoDemo.ViewModels.HomeViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<h1>Hello World</h1>
<p>@Model.BodyText</p>