﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.InvestmentProductArticle>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
    Layout = "Master.cshtml";
}

@{
    var currentPage = Umbraco.AssignedContentItem;
    var parentPage = currentPage.Parent !;
    var grandparentPage = parentPage.Parent !;
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Startseite</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@grandparentPage.Url()">@grandparentPage.Value("title")</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@parentPage.Url()">@parentPage.Value("title")</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@currentPage.Value("subtitle")</li>
    </ol>
</nav>

<h1 class="subject-title">@currentPage.Value("title")</h1>

<div class="subject-article-references-container row">
    <div class="col-2">
        <h5>Das könnte Sie auch interessieren</h5>
        <p>
            <a href="/themen">
                Zu den Themen
                <i class="bi bi-arrow-right"></i>
            </a>
        </p>

    </div>
    <div class="col-10">
        @{
            var selection = Umbraco.Content(Guid.Parse("c7cb667b-66dc-45ce-9d40-e892a4e50422"))!
                .ChildrenOfType("subjectArticle")!
                .Where(x => x.IsVisible())
                .OrderByDescending(x => x.UpdateDate);
        }

        <div class="row">
            @foreach (var item in selection)
            {
                <div class="col-md-4">
                    <div class="card h-100">
                        @{
                            var similarArticleCoverImage = item.Value<MediaWithCrops>("coverImage");
                            var similarArticleCoverImageUrl = similarArticleCoverImage is not null ? similarArticleCoverImage.MediaUrl() : "https://hips.hearstapps.com/hmg-prod/images/nature-quotes-landscape-1648265299.jpg";
                        }
                        <img class="card-img-top"
                             src="@similarArticleCoverImageUrl"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Value("title")</h5>
                            <p class="card-text">
                                @item.Value("teaser")
                            </p>
                            <a href="@item.Url()" class="stretched-link">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>