﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>ZKB Demo</title>
</head>

<body>
<div class="container">
    @await Html.PartialAsync("MainNavigation")
    @RenderBody()
</div>
</body>

<script src="/js/bootstrap.min.js"></script>

</html>