﻿@inherits UmbracoViewPage<ContentModels.SearchDashboard>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<div class="row">
    <div class="col-12 search-input-container">
        <form>
            <input type="text" class="search-input w-100" placeholder="Suchbegriff eingeben">
        </form>
    </div>

    <div class="col-12">
        <h3>Gespeicherte Produktsuchen</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <i class="bi bi-search"></i>
                    Discount-Zertifikate auf Nestlé – Laufzeit: 3-6 Monate
                </div>
                <i class="bi bi-trash"></i>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <i class="bi bi-search"></i>
                    Turbo Long auf SMI – Leverage > 10
                </div>
                <i class="bi bi-trash"></i>
            </li>
        </ul>
    </div>
</div>