﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SubjectDashboard>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
    Layout = "Master.cshtml";
}

@{
    var currentPage = Umbraco.AssignedContentItem;
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Startseite</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @currentPage.Value("title")
        </li>
    </ol>
</nav>

<h1>@currentPage.Value("title")</h1>
<p>
    @currentPage.Value("teaser")
</p>


@{
    var selection = Umbraco.Content(currentPage.Key)!
        .ChildrenOfType("subjectCategory")!
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.UpdateDate);
}

<h2>Kategorien</h2>

<div class="row">
    @foreach (var item in selection)
    {
        <div class="col-md-4">
            <div class="card h-100">
                @{
                    var similarArticleCoverImage = item.Value<MediaWithCrops>("coverImage");
                    var similarArticleCoverImageUrl = similarArticleCoverImage is not null ? similarArticleCoverImage.MediaUrl() : "https://hips.hearstapps.com/hmg-prod/images/nature-quotes-landscape-1648265299.jpg";
                }
                <img class="card-img-top"
                     src="@similarArticleCoverImageUrl"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Value("title")</h5>
                    <p class="card-text">
                        @item.Value("subtitle")
                    </p>
                    <a href="@item.Url()" class="stretched-link">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>