﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
This is the home page for a standard website.
It also highlights the current active page/section in the navigation with the CSS class "current".
*@

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 mb-5" id="main-navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Z%C3%BCrcher_Kantonalbank_logo.svg"
                     alt="logo" height="48">
            </a>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/suchen">
                        <i class="bi bi-search"></i>
                        Suchen
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/watchlist">
                        <i class="bi bi-star"></i>
                        Watchlist
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        Märkte
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/anlageprodukte">
                        Anlageprodukte
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        Hebelprodukte
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/themen">
                        Themen
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>